* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 238);
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  background-color: white;
  padding: 40px 80px;
  padding-bottom: 60px;
  border-radius: 10px;
  border-top: #333 5px solid;
}

h2 {
  margin: 10px 0;
  padding: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 12px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

span a {
  text-decoration: none;
  color: #333;
}

.private {
  height: 100vh;
  width: 100vw;
  background-color: #eee;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  flex-direction: column;
  gap: 10px;
}

.private button {
  background-color: black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}